@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    @apply font-arial;
}

.fixed-header {
    @apply fixed top-0 left-0 right-0 z-50 py-2 shadow-fixed-header;
}

.fixed-header .logo {
    width: 86px;
}

.link-item:hover h3 {
    text-decoration: underline;
}

.in-1-line {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-clamp: 1;
    -webkit-line-clamp: 1;
}

.in-2-line {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-clamp: 2;
    -webkit-line-clamp: 2;
}

.image-link-item:hover .image {
    background-color: rgba(0, 0, 0, 0.03);
    box-shadow: 0 2px 12px 0 rgb(0 0 0 / 30%);
}
